



/* ----------CARUSEL VIDEO---------- */

.caruselVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;     
    bottom: 20px;         
    left: 50%;
    transform: translateX(-50%);  
    transition: opacity 0.5s ease, bottom 0.5s ease;
    width: 1000px;    
}

.hidden {
    opacity: 0;
    bottom: -200px; 
    pointer-events: none;
}

canvas{
    border: 1px solid black;
    border-radius: 10px; 
}

#canvas1 {
  width: 400px;
  height: 220px;
}

#canvas1:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); 
}

#canvasPrev, #canvasNext {
  width: 200px;
  height: 120px;
  filter: brightness(60%);
}

video{
    display:none;
}

#prevBtn, #nextBtn  {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}


#prevBtn {
  left: 20px;
}

#nextBtn {
  right: 20px;
}

/* ----------CARUSEL VIDEO---------- */